body {
    font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-weight: 400;
}

header, nav {
    background-color: rgb(175, 103, 9) ; 
    color: #FFFFFF; 
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	margin: 1rem;
    color: #000;
    padding-top: 15px;
    padding-bottom: 10px;    
    font-weight: 700;
}

h2 {
	font-size: 1.2rem;
	color: rgb(150, 150, 5);
	text-align: center;
	margin: 1rem;
    padding-top: 20px;
}

main h2{
    text-align: center;
}

nav {
	max-width: 500px;
}

nav a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

header {
    background-color: #8d0404;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

nav li{
    float: left;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    position: relative;
}

main-container {
    display: flex;
    gap: 20px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    padding-top: 7px;
    cursor: pointer;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.mobile {
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: white;
}

.navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.open a:hover {
    background-color: #291b04;
    color: #f7f0ee ;
}

#lastModified {
    color: #000047;
}

.image-grid {
    display: grid;
    padding: 0;
    gap: 0;
    justify-items: center;
}

.image-grid img {
    height: 55vw;
    align-items: center;
}

.album-content {
    margin-bottom: 1.5rem;
}

.image-grid figcaption {
    padding: 0;
    padding-top: 2px;
    text-align: center;
}

.image-grid figure {
    margin: 0;
    padding: 10px;
}

body {
    background-color: #fdf4ed; /* Peach Puff */
    color: #472c00; /* Dark Brown */
}

header, nav {
    background-color: rgb(183, 183, 235);
    color: white
}

footer {
    background-color: rgb(195, 195, 248);
    color: #000; /* White */
    text-align: center;
    padding: 10px 0;
}

.temple-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
}

.temple-card section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* Optional: to make the cards stand out */
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

.temple-card h3,
.temple-card p {
    margin: 10px 0;
}

/* Adjust layout for larger screens */
@media (min-width: 500px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        font-size: 1.2rem;
        text-align: center;
    }

    h1 {
        font-size: 1.6rem;
        text-align: center;
        margin: 1rem;
        padding-top: 10px;
        font-weight: 700;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
        color: navy;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 1 1 100%;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        color: #1F1300;
    }

    nav {
        justify-content: flex-end;
        flex-direction: row;
        padding-right: 10px;
    }

    nav a {
        flex: 1 1 100%;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr;
    }

    .image-grid figure {
        margin: 0;
        padding: 10px;
    }

    .image-grid img {
        height: 25vw;
        padding: 0;
    }

    .image-grid figcaption {
        padding: 0;
        padding-top: 5px;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 1.6rem;
        text-align: center;
        margin: 1rem;
        padding-top: 10px;
        font-weight: 700;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
        color: navy;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        color: #1F1300;
    }

    nav {
        justify-content: flex-end;
        flex-direction: row;
        padding-right: 10px;
    }

    nav a {
        flex: 1 1 100%;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .image-grid figure {
        margin: 0;
        padding: 10px;
    }

    .image-grid img {
        height: 15vw;
        padding: 0;
    }

    .image-grid figcaption {
        padding: 0;
        padding-top: 5px;
        text-align: center;
    }
}