body {
    font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, nav {
    background-color: burlywood ; 
    color: #FFFFFF; 
}

h1 {

	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	margin: 1rem;
    color: #000;
    padding-top: 15px;
    padding-bottom: 10px;    
    font-weight: 700;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: center;
	margin: 1rem;
    padding-top: 20px;
}

main h2{
    text-align: center;
}

nav {
	max-width: 700px;
}

nav a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

header {
    background-color: #753939;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

nav li{
    float: left;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    padding-top: 7px;
    cursor: pointer;
}

#menu::before {
	content: "☰";

}

#menu.open::before {
	content: "✖";
}

.mobile {
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
    
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation a:hover {
font-weight: 700;
text-decoration: underline;


}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.open a:hover {

    background-color: #291b04;
    color: #f7f0ee ;
}


#lastModified {
    color: #000047;
}

.image-grid {
    display: grid;
    padding: 0;
    gap: 0;
    justify-items: center;
}

.image-grid img {
    height: 55vw;
    align-items: center;

}

.album-content {
    margin-bottom: 1.5rem;
}

.image-grid figcaption {
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

.image-grid figure {
    margin: 0;
    padding: 10px;

}

body {
    background-color: #fdf4ed; /* Peach Puff */
    color: #472c00; /* Dark Brown */
}


header, nav {
    background-color: burlywood ; /* Pastel Orange FF7F50*/
    color: #FFFFFF; /* Dark Brown */
}

footer {
    background-color: #f77a4c; /* Coral fa8459*/
    color: #000; /* White */
    text-align: center;
    padding: 10px 0;
}

.temple card {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}