body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4f0385;
    color: white;
    padding: 0;
    width: 45%;
    box-sizing: border-box;
}


main {
    background-color: #dcd9e2;
    margin:0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 600px;
    border-radius: 20px;
    box-sizing: border-box;
    flex-direction: row;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

label {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

rating {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 3em;
    color: #CCC;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #FFD700;
}

.features label {
    display: block;
    text-align: center;
}

footer {
    background-color: #4B0082;
    color: white;
    padding: 0;
    position: relative;
    bottom: 0;
    width: 45%;
    box-sizing: border-box;
    gap: 5px;
}